/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body */
body {
  height: 100vh;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.container {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

/* Heading */
.container h2 {
  margin-bottom: 20px;
  color: #10b6e9;
}

/* Inputs */
.container input,
.container select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button */
.container button {
  width: 100%;
  padding: 10px;
  background: #4facfe;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.container button:hover {
  background: #007bff;
}

/* Links */
.container a {
  display: block;
  margin-top: 15px;
  color: #007bff;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}
/* bg-img */
body {
    background-image: url('../images/lbmimg.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    color: #fff; /* for text contrast */
}

.container {
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
    padding: 50px;
    border-radius: 10px;
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
}
   /*admin dashboard*/
   body {
  font-family: 'Poppins', sans-serif;
  background: #f8fafc;
}

.dashboard {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 18px 0;
}

.sidebar ul li a {
  color: #cbd5f5;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  color: #38bdf8;
}

/* Main */
.main-content {
  flex: 1;
  padding: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-bottom: 10px;
  color: #64748b;
}

.card p {
  font-size: 28px;
  font-weight: bold;
  color: #0f172a;
}